{
  "type": "service_account",
  "project_id": "cryptobin-e87cc",
  "private_key_id": "554dcabxxxxxxxxxxxxxxxxxxxxx69e9fab62d9ab1efe",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCQSlJ2efo3iN4vxHXDo=\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk-l0h5a@cryptobin-e87cc.iam.gserviceaccount.com",
  "client_id": "103218162242414788361",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-l0h5a%40cryptobin-e87cc.iam.gserviceaccount.com"
}
